<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
				<key>dateExpires</key>
				<string>2020/8/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AVOSCloud.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LeanCloudFeedback.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OpinionzAlertView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_saver.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>multi_image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>simple_permissions.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CE7ECED2304C6F48E9917DCEC3EFD12D42D1C048</string>
						<key>dateExpires</key>
						<string>2020/8/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4FQZT7RDUV</string>
						<key>name</key>
						<string>YIFAN TAO</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4FQZT7RDUV.com.finerit.campus</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>4FQZT7RDUV</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>013fb1d8-1143-42d4-857f-4e8a3444944d</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.finerit.campus</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4FQZT7RDUV</string>
				<key>name</key>
				<string>YIFAN TAO</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
